*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, 'sans-serif';
}
body{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.logOut{
    background-color: rgb(255, 53, 53);
    width: 80px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.perfilContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -100%);
    color: rgb(69, 69, 69);
}

.perfil{
    background-color: rgb(193, 193, 193);
    padding: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}
#iconPerfil{
   width: 180px;
   border-radius: 50%;
   background-color: rgb(234, 234, 234);
   padding: 0.5rem;
}
.buttonsContent{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    position: absolute;
    left: 0%;
    top: 60%;
}

.notas, .advertence, .faults, .cadastrarAluno{
    background-color: rgb(193, 193, 193);
    text-align: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: background-color 0.1s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;    
}
.notas:hover, .advertence:hover, .faults:hover, .cadastrarAluno:hover{
    background-color: rgb(255, 65, 65);
}
#notasIcon{
    width: 150px;
    border-radius: 50%;   
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
}
.notasContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(69, 69, 69);
}
.advertenceContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(69, 69, 69);
}
#advertenceIcon{
    width: 150px;
    border-radius: 50%;   
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
}
.faultsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(69, 69, 69);
}
#faultsIcon{
    width: 150px;
    border-radius: 50%;   
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
}
.cadastrarAlunoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(69, 69, 69);
}
#faultsIcon{
    width: 150px;
    border-radius: 50%;   
    background-color: rgb(234, 234, 234);
    padding: 0.5rem;
}



/* MODAL CONTENTs */
#modalContent{
    position: absolute;
    width: 80%;
    padding: 15px 20px;
    height: 80%;
    border-radius: 1rem;
    background-color:white;  
  }
#modalContent h2{
      color:white;
      background-color:red;
      position: absolute;
      top:0;
      width:100%;
      right: 0;
      left: 0;
      border-radius: 1rem 1rem 0rem 0rem;
      padding: 1rem;
      text-align: center;
}
.modal{
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 99999;
    pointer-events: auto;
    display: none;
    justify-content: center;
    align-items: center; 
}
#fechar {
    position: absolute;
    width: 30px;
    right: -10px;
    top: -10px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
    z-index: 9999999999;
  }